#bootstrap-overrides {
    font-family: Roboto, serif;
}


header {
    background-image: url(../resources/images/photo_2021-05-15_19-08-40.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 550px;
}

.home-text h1 {
    font-size: 68px;
    }

.home-text {
    padding-top: 150px;
}

.btn {
    font-size: 24px;
    margin: 24px;
}

.dropdown {
    display: none;
}
   

/* About me part*/

#about-me {
    background-color: #B9B9B9;
    margin: 0;
    width: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.my-photo {
    position: relative;
  }

.my-photo img {
    margin-top: 65px;
    left: 10px;
    margin-left: 65px;
    position: absolute;
}

.my-photo h3 {
    padding: 20px;
    font-size: 24px;
    float: right;
    margin-bottom: 50px;
    top: 400px;
    left: 240px;
    opacity: 0.9;
    position: absolute;
}

.my-text {
    font-size: 28px;
    margin: 24px;
    padding: 24px;
    font-family: Roboto;
    float: left;
}

.my-text h1 {
    margin: 12px;
}


/*Skills part*/

#skills {
    margin-bottom: 64px;
}

.progress {
    margin: 8px;
    width: 600px;
    height: 30px;
}

#bootstrap-overrides .row {
    margin: 0;
}

#skills h3 {
    font-size: 24px;
    margin: 6px;
    text-shadow: 1px 1px;
}

#skills ul {
    list-style: square;
    font-size: 18px;
    margin: 8px;
    list-style-image: url;
    line-height: 1.9;
  }

  /*Contact part*/

  #contact {
      background-color: black;
      opacity: 0.9;
  }

    .contact1 {
      font-size: 18px;
      color: white;
      padding: 16px;
  }

  .contact1 img {
      margin-left: 100px;
  }

  .contact1 p {
    font-size: 26px;
    text-shadow: 1px 1px;
    margin-bottom: 18px;
    text-decoration: underline;
  }

  .contactme{
      width: 500px;
      padding: 16px;
     
  }

  .contactme button {
    border-radius: 20px;
    width: 150px;
    background-color: #B9B9B9;
    margin: auto;
    font-size: 22px;
    text-align: center;
    color: black;
    transition-duration: 0.4s;
  }

  .contactme button:hover {
    background-color:black;
    color: white;
  }
    

  .contact2 img {
      margin: 16px;
      width: 50px;
  }

  #facebook {
      float: right;
  }
 
  /*Footer part*/

  footer {
      background-color: black;
      color: white;
      height: 24px;
      opacity: 0.9;
      padding-bottom: 106px;
  }

  .copyright {
      font-size: 16px;
  }

  @media screen and (max-width: 1350px) {
      .progress {
          width: auto;
      }
      .my-photo img {
          
          position: static;
      }

  }

  @media screen and (max-width: 768px) {
    
    .container .btn {
        display: none;
    }

    .my-photo img {
        position: static;
        margin-top: 25px;
        width: inherit;
    }

    .my-text {
        margin: 16px;
        font-size: 20px;
    }

    #skills {
        margin-bottom: 32px;
    }

    .progress {
        width: inherit;
    }

    .contact1 img {
        display: none;
    }

    .contact1 p {
        font-size: 16px;
        text-shadow: none;
    }

    .contact1 a {
        font-size: 12px;
    }

    .contact2 img {
        margin: 0;
    }

  }

  @media screen and (max-width: 535px) {
    .my-photo img {
        position: inherit;
    } 

    .my-photo h3 {
        padding: 8px;
        position: initial;
    }
  }

  @media screen and (max-width: 400px) {
    
    
    .dropdown {
          display: inline;
      }

       .dropbtn {
        display: inline-block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
       }

       li a:hover, .dropdown:hover .dropbtn {
        background-color: red;
      }

      li.dropdown {
        display: inline-block;
      }

      .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
      }

       .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
      }
      .dropdown-content a:hover {
          background-color: #f1f1f1;
        }
      
      .dropdown:hover .dropdown-content {
  display: block;
}


/*
      .dropdown .btn {
        display: inline;
        width: auto;
        height: auto;
        margin: 0;
      }
    */
      .nav-item {
          display: none;
      }
    }
