#bootstrap-overrides {
    font-family: 'Newsreader', serif;
}

header {
    background-image: url(../resources/images/photo_2021-05-15_19-08-40.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 550px;
    position: relative;
}


.dropdown {
    display: none;
}

.home-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
}

.home-text h1 {
    font-size: 68px;
}

/* About me part*/

#about-me {
    background-color: #E0E0E0;
    margin: 0;
    width: auto;
}

.my-text {
    font-size: 28px;
    margin: 24px;
    padding: 24px;
    font-family: Roboto;
    float: left;
}

.my-text h1 {
    margin: 12px;
}

.btn {
    font-size: 24px;
    margin: 24px;
}

/*Skills part*/

#skills {
    margin-bottom: 64px;
}

#skills h1 {
    margin-top: 32px;
}

.progress {
    margin: 8px;
    width: 600px;
    height: 30px;
}

#bootstrap-overrides .row {
    margin: 0;
}

#skills h3 {
    font-size: 24px;
    margin: 16px;
}

#skills ul {
    list-style: square;
    font-size: 18px;
    margin: 8px;
    line-height: 1.9;
}

#skills img {
    width: 50px;
    margin-top: 20px;
}


  /*Contact part*/

#contact {
    background-color: #100C08;
    opacity: 0.9;
}

.contact1 {
    font-size: 18px;
    color: white;
    padding: 16px;
}

.contact1 p {
    font-size: 26px;
    margin-bottom: 18px;
    text-decoration: underline;
  }

.social-links {
    text-align: center;
}

#facebook img {
    width: 50px;
}

.contact1 img {
    width: 150px;
}

.email, .phone {
    display: inline-block;
    position: relative;
}

.email a, .phone a {
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding-left: 16px;
}

.email img, .phone img {
    width: 50px;
} 

  .contact2 {
    text-align: center;
}

  .contactme{
    width: 480px;
    padding: 16px;
    display: inline-block;
}

.contactme button {
    border-radius: 20px;
    width: 150px;
    background-color: #B9B9B9;
    margin: auto;
    font-size: 22px;
    text-align: center;
    color: black;
    transition-duration: 0.4s;
}

.contactme button:hover {
    background-color:black;
    color: white;
}

/*Footer part*/ 

  footer {
      background-color:  #100C08;
      color: white;
      height: 24px;
      opacity: 0.9;
      padding-bottom: 106px;
  }

  .copyright {
      font-size: 16px;
      margin: 16px;
  }


@media screen and (max-width: 768px) {
    
    .navbar .btn {
        display: none;
    }

    .nav-item {
        display: none;
    }

    .dropdown {
        display: inline;
    }

    .dropbtn {
        display: inline-block;
        color: white;
        text-align: center;
        padding: 14px 25px;
        text-decoration: none;
    }

    li a:hover, .dropdown:hover .dropbtn {
        background-color: rgb(4, 4, 12);
    }

    li.dropdown {
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 100px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
    }

    .dropdown-content a:hover {
        background-color: #f1f1f1;
    }
    
    .dropdown:hover .dropdown-content {
        display: block;
    }

    .dropdown .btn {
        display: inline;
        width: auto;
        height: auto;
        margin: 0;
    }

    .my-photo {     
        text-align: center;
    }

    .my-photo img {
        width: 100%;
        margin-top: 42px;
    }

    .my-photo h3 {
        padding: 18px;
        font-size: 20px;
        width: 190px;
        margin: 0;
    }

    .my-text {
        margin: 0;
    }

    .progress {
        width: auto;
        font-size: 16px;
    }

    .progress a {
        font-size: 12px;
    }

    .contact1 .contactlogo {
        display: none;
    }

    .contact1 a {
        font-size: 16px;
    }

    .email, .phone {
        margin: 10px;
        flex: none;
    }

    .contactme {
        width: auto;
    } 

}
    
@media screen and (min-width: 768px) and (max-width: 1024px)   {

    .navbar .container {
        justify-content: flex-end;
    }
    
    .my-photo {
        position: relative;
    }

    .my-photo img {
        margin-top: 65px;
        margin-left: 25px;
        position: absolute;
        width: 100%;
    }

    .my-photo h3 {
        opacity: 0.9;
        position: absolute;
        padding: 18px;
        font-size: 24px;
        top: 400px;
        float: right;
        left: 200px;
    }

    .progress {
        width: 100%;
    }

    .email, .phone {

    }

}

@media screen and (min-width: 1024px) {

    .navbar .container {
        justify-content: flex-end;
    }

    .my-photo {
        position: relative;
      }
    
    .my-photo img {
        margin-top: 65px;
        left: 10px;
        margin-left: 65px;
        position: absolute;
        width: 400px;
    }
    
    .my-photo h3 {
        padding: 20px;
        font-size: 24px;
        float: right;
        margin-bottom: 50px;
        top: 400px;
        left: 240px;
        opacity: 0.9;
        position: absolute;
    }

    .progress {
        width: 100%;
    }
    
}